<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Wymagane na Android 13+ do wyświetlania powiadomień -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Wymagane przez WorkManager do budzenia się w określonym czasie -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ThoughtsApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/clouds_2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/clouds_2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Thoughts">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Thoughts">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>